################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap
/FoodDeliveryTestProject/.vs/FoodDeliveryProject/v16/TestStore/0/testlog.manifest
/FoodDeliveryTestProject/.vs/FoodDeliveryProject/v16/TestStore/0/016.testlog
/FoodDeliveryTestProject/.vs/FoodDeliveryProject/v16/TestStore/0
/FoodDeliveryTestProject/.vs/FoodDeliveryProject/DesignTimeBuild/.dtbcache.v2
/FoodDeliveryTestProject/.vs/FoodDeliveryProject/DesignTimeBuild
/FoodDeliveryTestProject/.vs/FoodDeliveryProject
